/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.banner {
  height: 304px;
  background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/qa.png?raw=true");
  background-repeat: no-repeat;
  background-position: center;
  font-weight: bolder;
}

@media (max-width: 992px) {
  .banner {
    background-position: 52%;
  }
}

@media (max-width: 767px) {
  .banner {
    background-position: 40%;
    background-size: cover;
    height: 143px;
  }
}

.banner .title {
  max-width: 1080px;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .banner .title {
    max-width: 690px;
  }
}

@media (max-width: 767px) {
  .banner .title {
    max-width: 375px;
  }
}

.banner .title h1 {
  display: inline-block;
  font-size: 64px;
  line-height: 64px;
  margin-top: 230px;
}

@media (max-width: 992px) {
  .banner .title h1 {
    font-size: 48px;
    line-height: 80px;
  }
}

@media (max-width: 767px) {
  .banner .title h1 {
    margin-left: 15px;
    margin-top: 103px;
    font-size: 28px;
    line-height: 28px;
  }
}

.banner img {
  margin-left: 24px;
  vertical-align: top;
}

@media (max-width: 767px) {
  .banner img {
    width: 16px;
  }
}

.content .location-list {
  padding: 14px 0 304px 0;
  max-width: 1110px;
  margin: 0 auto;
  font-weight: bolder;
}

@media (max-width: 992px) {
  .content .location-list {
    max-width: 690px;
    padding: 14px 0 104px 0;
  }
}

@media (max-width: 767px) {
  .content .location-list {
    max-width: 345px;
    padding: 8px 0 56px 0;
  }
}

.content .location-list form {
  margin-left: 11px;
  margin-bottom: 32px;
}

@media (max-width: 767px) {
  .content .location-list form {
    margin-left: 0;
  }
}

.content .location-list form label {
  vertical-align: middle;
  font-size: 24px;
  line-height: 30px;
  margin-right: 20px;
}

@media (max-width: 992px) {
  .content .location-list form label {
    font-size: 16px;
    line-height: 30px;
  }
}

@media (max-width: 767px) {
  .content .location-list form label {
    font-size: 14px;
    margin-right: 12px;
  }
}

.content .location-list form select {
  font-size: 18px;
  padding: 10px 251px 10px 19px;
  border: 1px solid #CED4DA;
  color: #495057;
}

@media (max-width: 992px) {
  .content .location-list form select {
    padding: 8px 173px 8px 12px;
  }
}

@media (max-width: 767px) {
  .content .location-list form select {
    padding: 8px 173px 8px 16px;
  }
}

.content .location-list ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content .location-list ul .card {
  width: 31.33%;
  margin: 0 1% 32px 1%;
  border: 1px solid #00000020;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 992px) {
  .content .location-list ul .card {
    width: 47%;
    margin: 0 1.5% 20px 1.5%;
  }
}

@media (max-width: 767px) {
  .content .location-list ul .card {
    width: 100%;
    margin: 0 0 20px 0;
  }
}

.content .location-list ul .card .card-img-top {
  width: 100%;
}

.content .location-list ul .card h5 {
  font-size: 24px;
  line-height: 36px;
  padding: 12px 0 12px 24px;
  border-bottom: 1px solid #00000020;
}

@media (max-width: 767px) {
  .content .location-list ul .card h5 {
    font-size: 16px;
    line-height: 24px;
  }
}

.content .location-list ul .card .card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 767px) {
  .content .location-list ul .card .card-text {
    padding: 0 16px;
  }
}

.content .location-list ul .card .card-text li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 0;
  word-wrap: break-word;
}

.content .location-list ul .card .card-text li p {
  font-size: 20px;
  line-height: 30px;
}

@media (max-width: 767px) {
  .content .location-list ul .card .card-text li p {
    font-size: 14px;
    line-height: 21px;
  }
}

.content .location-list ul .card .card-text li img {
  -ms-flex-item-align: start;
      align-self: flex-start;
  height: 21px;
  width: 21px;
  margin-right: 12px;
  margin-top: 5px;
}

.content .location-list ul .card .card-btn {
  width: 100%;
  font-size: 19px;
  line-height: 26px;
  padding: 20px 0;
  color: #fff;
  background: #000;
}

@media (max-width: 767px) {
  .content .location-list ul .card .card-btn {
    font-size: 14px;
    line-height: 21px;
    padding: 16px 0;
  }
}
/*# sourceMappingURL=store-style.css.map */